a{
	text-decoration: none;
}
.full-wrapper{
	width: 100%;
	clear: both;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
.menu{
	float:left;
	width: 1300px;
	text-align: right;
    margin-top: 15px; 
}
.menu a{
	color: #000;
	padding: 10px;
	font-size: 24px;
}


/*========== banner ============*/
.banner-img{
	background-image: url(img/pic1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 190px 0;
}
.banner-text{
	text-align: center;
}
.banner-text h1{
	color: floralwhite;
}
.banner-text p{
	color: red;
}
/*=========== project ===========*/
.project-details{
	width: 350px;
	float: left;
	text-align: center;
	margin-top: 20px;
	padding: 20px 0;
	border: 1px solid #777;
	margin-left: 10px;
}
.project-details{
	display: inline-block;
}

.foot {
    width: 80%;
    text-align: center;
    padding: 100px 0px;
    background: black;
    color: white;
	margin-top: 70px;
}
.foot h1 {
    font-size: 41px;
    margin-bottom: 20px;
}